# Estructuras de datos: Listas

La primera estructura de datos que veremos son las **listas**. Éstas son un conjunto de elementos ordenados separados por comas y escritos entre claudators, `[]`. 

Las listas son:
- hetereogéneas: los elementos pueden ser de distinto tipo en una misma lista
- mutables: los elementos pueden ser modificados

Un ejemplo de lista sería

In [2]:
e = ["Juan", 31, 172.32, True]
print(e)

['Juan', 31, 172.32, True]

In [3]:
type(e)

list

## Tamaño de una lista

Para saber la longitud o el tamaño de una lista, podemos hacer uso de la función `len()`

In [4]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(a)

9

In [5]:
b = ["Zoe", "Pablo", "Miguel", "Silvia"]
len(b)

4

## Elementos de una lista

Cada elemento en la lista tiene su propio índice

In [6]:
names = ["Maria", "Juan", "Claudia", "Jorge", "Avelina"]

A `María` le corresponde el índice 0; a `Juan`, el 1; a `Claudia` el 2; a `Jorge`, el 3; y a `Avelina`, el 4.

**¡Cuidado!** En `Python`, los índices siempre empiezan en 0. De este modo, al primer elemento le corresponde el índice 0; al segundo, el índice 1; y al $n$-ésimo, le corresponde el índice $n−1$.

In [7]:
print(names[0])

Maria

In [8]:
print(names[3])

Jorge

In [9]:
print(names[-1]) # Último elemento

Avelina

In [10]:
print(names[2:5])

['Claudia', 'Jorge', 'Avelina']

## Añadir nuevo elemento

Podemos añadir nuevos elementos a una lista con el método `.append()`

In [11]:
names.append("Nino")
print(names)
names.append("Ana")
print(names)

['Maria', 'Juan', 'Claudia', 'Jorge', 'Avelina', 'Nino']
['Maria', 'Juan', 'Claudia', 'Jorge', 'Avelina', 'Nino', 'Ana']

**Observación.** Los elementos añadidos con el método `.append()`, se incluyen al final.

entonces utilizaremos el método `.insert()` al que primero le indicamos el índice donde queremos posicionar el nuevo elemento y, en segundo lugar, indicamos dicho nuevo elemento.

In [12]:
names.insert(1, "Andres")
print(names)
names.insert(3, "Miguel")
print(names)

['Maria', 'Andres', 'Juan', 'Claudia', 'Jorge', 'Avelina', 'Nino', 'Ana']
['Maria', 'Andres', 'Juan', 'Miguel', 'Claudia', 'Jorge', 'Avelina', 'Nino', 'Ana']

## Metodo count()
Este método recibe un elemento como argumento, y cuenta la cantidad de veces que aparece en la lista.

In [13]:
a = [2, 2, 2, 4, 5, 2, 7, 4, 5]

In [14]:
# Cantidad de veces que hay elemento 2
a.count(7)

1

### Metodo index()
Este método recibe un elemento como argumento, y devuelve el índice de su primera aparición en la lista.

In [15]:
a.index(4)

3

In [16]:
a[3]

4

### Metodo remove()
Este método recibe como argumento un elemento, y borra su primera aparición en la lista.

In [17]:
a.remove(4)
a

[2, 2, 2, 5, 2, 7, 4, 5]

### Metodo reverse()
Este método invierte el orden de los elementos de una lista.

In [18]:
a.reverse()
a

[5, 4, 7, 2, 5, 2, 2, 2]

### Metodo sort()
Este método ordena los elementos de una lista.

In [19]:
a.sort()
a

[2, 2, 2, 2, 4, 5, 5, 7]

## Bucles con listas
Si quisiéramos imprimir por pantalla todos los elementos de una lista, lo podríamos hacer mediante los índices

In [20]:
len(names)

9

In [21]:
names[1]

'Andres'

In [22]:
for i in range(len(names)):
    print(names[i])

Maria
Andres
Juan
Miguel
Claudia
Jorge
Avelina
Nino
Ana

In [23]:
for name in names:
    print(name)

Maria
Andres
Juan
Miguel
Claudia
Jorge
Avelina
Nino
Ana

## Concatenación de listas

Dadas dos o más listas, podemos concatenarlas haciendo uso de la función `+`

In [24]:
a1 = [True, 21, "Marta"]
a2 = [22.5, False, 22, "Rafa"]
a3 = a1 + a2
a3

[True, 21, 'Marta', 22.5, False, 22, 'Rafa']

## Repetición de listas

Podemos repetir una misma lista tantas veces como queramos con la función `*`

In [25]:
abc = ["A", "B", "C"]
print(abc * 5)

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']